**.wav
**/BirdNET/BirdNET-*
**/CSVs/BirdNET_*
**/Spectrogram annotations/*
**/SIG/SIG TFM.rar
**/Summary of Norwegian paper/*
**/Google_PR_results_by_species_recording_and_confidence.csv
**/Presentacions/*
**.zip
**/Jonathan's recordings/*
**BirdNET_PR_results_by_species_recording_and_confidence.csv
**/**BirdNET_PR_results_by_species_recording_and_confidence.csv

